<!--footer-->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          {% load static %}
          <img src="{% static 'img/logo.png' %}" alt="" width="170">
          <p>衛教資訊 | 便民服務<br>職能治療的專長，副木設計與製作</p>
        </div>
        <div class="col-md-4">
          <h4>網站地圖</h4>
          <ul>
            <li><a href="#">首頁</a></li>
            <li><a href="#">最新消息</a></li>
          </ul>
          <ul>
            <li><a href="#">副木介紹</a></li>
            <li><a href="#">聯絡我們</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>聯絡我們</h4>
          <p>高雄市左營區香榭麗舍大道20號30樓<br>
            Phone：(07) 345-2568<br>
            E-mail：<a href="mailto:gogtravel@gmail.com">gogtravel@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </footer>